.vim/.netrwhist
*.swp
*.pyc

vim.d/bundle/CamelCaseMotion
vim.d/bundle/YouCompleteMe
vim.d/bundle/nerdtree
vim.d/bundle/vim-airline
vim.d/bundle/vim-clang-format
vim.d/bundle/vim-cpp-enhanced-highlight
vim.d/bundle/vim-railscasts-theme
vim.d/bundle/vim-fugitive
