[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = simple
[core]
	excludesfile = ~/.unixrc/git.ignore
	autocrlf = input
	editor = vim -c \"setlocal spell spelllang=en_us\"
[clangFormat]
  style = file
[color]
	ui = true
[mergetool]
	keepBackup = false
[user]
	name = David J Kessler
